<h1>Annaire des olm</h1>


<div class="container-fluid">
<div class="row">

    <div class="zone col-lg-5 col-md-5">
      <ul class="group-item">
        <li class="list-group-item"> <span class="glyphicon glyphicon-map-marker" style="color:#1096E7;font-size: 30px;"> </span> Zone A </li>
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker" style="color:#23A455;font-size: 30px;"> </span>  Zone B </li>
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker" style="color:#E7B010;font-size: 30px;"> </span>  Zone C </li>
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker" style="color:#E71034;font-size: 30px;"> </span>  Zone D </li>
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker" style="color:#8717C2;font-size: 30px;"> </span>  Zone E </li>
      </ul>


    </div>



    <iframe src="https://www.google.com/maps/d/embed?mid=1SjBwuU_ao6B3IplLrgb_MWyoyDBSBsY1" class="col-lg-6 col-md-6" height="480">
    </iframe>




</div>
</div>