

@keyframes an1{
0%{ margin-left:0px;   font-size:20px ;}
90%{margin-left:30%;font-family: impact;font-size: 22px;}
90%{margin-left:30%;  font-family: 'Old Standard TT', serif;}

}

@keyframes an2{
0%{visibility: hidden;margin-left: 15%;}
70%{visibility: visible;margin-left: 25%;opacity: 0.4;}
100%{margin-left: 30%;opacity: 1;}
}


.b1{ 
    width:100%;
    height:90vh;
    z-index: 10;
    padding-left: 40px;
    background-image:url('./../../assets/image/undraw_Freelancer_re_irh4.svg');
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}
#titre{
    color:#212121;
    font-family: 'Old Standard TT', serif;

    margin-top: 100px;
    font-weight: bold;
    visibility: hidden;
}
#logo{visibility: hidden;
    margin-left: 50px;
}
.button{visibility: hidden;
    margin-left: 30%;
}

.ant{
animation-name: an1;
animation-duration: 1s;
animation-iteration-count: 1;
}

.an2{
    animation-name: an2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

section{
    background-color: #BDBDBD;
    padding:30px;
}
section img{
position:relative;
width: 100%;
height: 50vh;
margin-left: 20%;

}
section .notrecredo .box{
    position:relative;
width: 95%;

text-align: center;
font-weight: bold;
font-size: 13px;
padding:15px;
height: 70vh;
margin-left: 23%;
background:white;
margin-top: -15%;
border-top: solid 2px #FF5722;
color:#212121;
}
section span{
    color: #FF5722;
}
section h3{
    font-size: 25px;
color:#FF5722;
font-family: Tahoma;

}
.notrevision .box{
    font-size: 20px;
    position:relative;
    width: 95%;
    
    text-align: center;
    font-weight: bold;
   
    padding:15px;
    height: 70vh;
    margin-left: 23%;
    background:white;
    margin-top: -15%;
    border-top: solid 2px #FF5722;
    color:#212121;
}
.box p{
    padding:5px;
}